<a href="https://colab.research.google.com/github/ankita1120/Advanced-_python_Code/blob/main/Data_Wrangling_on_Different_Data_Formats.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
[
  {
    "name": "John Smith",
    "salary": 50000
  },
  {
    "name": "Jane Doe",
    "salary": 60000
  }
]

[{'name': 'John Smith', 'salary': 50000},
 {'name': 'Jane Doe', 'salary': 60000}]

In [16]:
# @title Default title text
import json
# JSON string
json_string = '''
{
  "name": "John Smith",
  "age": 30,
  "isMarried": true,
  "hobbies": ["reading", "traveling", "swimming"],
  "address": {
    "street": "123 Main St",
    "city": "New York",
    "state": "NY",
    "zip": "10001"
  }
}
'''
# Parse the JSON string
data = json.loads(json_string)
# Access values
print(data['name'])
print(data['age'])
print(data['isMarried'])
print(data['hobbies'])
print(data['address']['street'])

John Smith
30
True
['reading', 'traveling', 'swimming']
123 Main St

In [ ]:
import json

# JSON string representing a list of employees
json_string = '''
[
  {
    "name": "John Smith",
    "salary": 50000
  },
  {
    "name": "Jane Doe",
    "salary": 60000
  }
]
'''

# Parse the JSON string
data = json.loads(json_string)

# Fetch employee at index 0
employee = data[0]

# Correctly access the keys
name = employee['name']
salary = employee['salary']

# Print details
print("Name:", name)
print("Salary:", salary)

Name: John Smith
Salary: 50000

In [ ]:
import json
# JSON string representing employees
json_string ='''
[{
   "name":"John Smith",
   "salary":50000
},
{
   "name":"Jane Doe",
   "salary":60000
}
]

 ''' # Removed the extra line breaks and spaces here
data = json.loads(json_string)

data[0]['salary']= int(data[0]['salary'] * 1.10)

new_employee ={
    "name":"Alice Brown",
    "salary" : "75000"
    }
data.append(new_employee )
# Example: Change the name of the second employee
data[1]['name'] = "Jane Smith"

# Print modified data
print(json.dumps(data, indent=4))

# Save back to a file (optional)
with open('employees.json', 'w') as f:
    json.dump(data, f, indent=4)

[
    {
        "name": "John Smith",
        "salary": 55000
    },
    {
        "name": "Jane Smith",
        "salary": 60000
    },
    {
        "name": "Alice Brown",
        "salary": "75000"
    }
]

In [ ]:
# Change the department of employee at index 2 to 'hr' and increase the salary by 20%
employee= data[2]  #Storing employee data of employee at index 2

print("Previous Data:")

print(employee)

#Modifying the data

employee['department']='hr'

employee['salary']= float(employee['salary']) *1.2

print("New Data: ")
print(employee)

Previous Data:
{'name': 'Alice Brown', 'salary': '75000', 'department': 'hr'}
New Data:
{'name': 'Alice Brown', 'salary': 90000.0, 'department': 'hr'}

1. Import the xml.etree.ElementTree module / Parse the XML file

---





---

In [ ]:
import xml.etree.ElementTree as ET
import os
from google.colab import drive

# Mount Google Drive
drive.mount('/content/drive')

# Define the correct file path (fixing the typo here)
file_path = os.path.join('/content/drive/My Drive/Colab Notebooks', 'author.xml')

# Check if the file exists
if os.path.isfile(file_path):
    print(f"File found: {file_path}")
    try:
        # Parse the XML file
        tree = ET.parse(file_path)
        root = tree.getroot()
        print("XML file parsed successfully!")

        # Example: Print tags and attributes of all children
        for child in root:
            print(f"Tag: {child.tag}, Attributes: {child.attrib}")
    except ET.ParseError as e:
        print(f"Error parsing XML: {e}")
else:
    print(f"File not found: {file_path}")

Mounted at /content/drive
File found: /content/drive/My Drive/Colab Notebooks/author.xml
XML file parsed successfully!
Tag: book, Attributes: {'id': '1'}
Tag: book, Attributes: {'id': '2'}
Tag: book, Attributes: {'id': '3'}

3. Get the root element

In [ ]:
root = tree.getroot()
print(root.tag)

books

4. Accessing elements and attributes

In [ ]:
for book in root.iter('book'):
  title = book.find('title').text
  author = book.find('author').text
  year = book.find('year').text
  publisher = book.find('publisher').text
  print(f"Title: {title}, Author: {author}, Year: {year}, Publisher: {publisher}")

Title: The Catcher in the Rye, Author: J.D. Salinger, Year: 1951, Publisher: Little, Brown and Company
Title: To Kill a Mockingbird, Author: Harper Lee, Year: 1960, Publisher: J. B. Lippincott & Co.
Title: 1984, Author: George Orwell, Year: 1949, Publisher: Secker & Warburg

5. Accesing First Element

In [ ]:
book = root.find('book')
title = book.find('title').text
author = book.find('author').text
print(f"Title:",title)
print(f"Author:",author)

Title: The Catcher in the Rye
Author: J.D. Salinger

6. Accessing other Elements

In [ ]:
book2 = root.find(".//book[@id = '2']")
if book2 is not None:
  title = book2.find('title').text
  author = book2.find('author').text
  print(f"Title:",title)
  print(f"Author:",author)

Title: To Kill a Mockingbird
Author: Harper Lee

7. Updating elements

In [ ]:
# Create a new book element
new_book = ET.Element('book', {'id': '4'})
title = ET.SubElement(new_book, 'title')
title.text = 'The Great Gatsby'
author = ET.SubElement(new_book, 'author')
author.text = 'F. Scott Fitzgerald'
year = ET.SubElement(new_book, 'year')
year.text = '1925'
publisher = ET.SubElement(new_book, 'publisher')
publisher.text = "Charles Scribner's Sons"

# Add the new book element to the root element
root.append(new_book)

# Write the updated XML file
tree.write('books.xml')

In [ ]:
import xml.etree.ElementTree as ET
tree = ET.parse('books.xml')
root = tree.getroot()
book2 = root.find(".//book[@id = '2']")
book2.find('title').text = 'Pride and Prejudice'
tree.write('books.xml')

for book in root.iter('book'):
  title = book.find('title').text
  author = book.find('author').text
  year = book.find('year').text
  publisher = book.find('publisher').text
  print(f'Title: {title}')
  print(f'Author: {author}')
  print(f'Year: {year}')
  print(f'Publisher: {publisher}\n')

Title: The Catcher in the Rye
Author: J.D. Salinger
Year: 1951
Publisher: Little, Brown and Company

Title: Pride and Prejudice
Author: Harper Lee
Year: 1960
Publisher: J. B. Lippincott & Co.

Title: 1984
Author: George Orwell
Year: 1949
Publisher: Secker & Warburg

Title: The Great Gatsby
Author: F. Scott Fitzgerald
Year: 1925
Publisher: Charles Scribner's Sons

Deleting any particular entry can be done easily as well. Let's delete the element at the id 2.

In [ ]:
# Find the book element with an id of 2
book_to_delete = root.find("./book[@id = '2']")
root.remove(book_to_delete)

tree.write('books.xml')

In [ ]:
for book in root.iter('book'):
    title = book.find('title').text
    author = book.find('author').text
    year = int(book.find('year').text)
    publisher = book.find('publisher').text

    # do something with the data
    print(f'Title: {title}')
    print(f'Author: {author}')
    print(f'Year: {year}')
    print(f'Publisher: {publisher}\n')

Title: The Catcher in the Rye
Author: J.D. Salinger
Year: 1951
Publisher: Little, Brown and Company

Title: 1984
Author: George Orwell
Year: 1949
Publisher: Secker & Warburg

Title: The Great Gatsby
Author: F. Scott Fitzgerald
Year: 1925
Publisher: Charles Scribner's Sons


Data Wrangling on Binary Data Formats

1. Opening a binary file:

In [ ]:
# Correct the file path and ensure it exists
with open(file_path, 'rb') as f:
    binary_data = f.read()
file_path = '/content/drive/MyDrive/Colab Notebooks/sample.html'

2. Data wrangling on binary data: Images

Activity 1

In [ ]:
import pandas as pd
from google.colab import drive

# Mount Google Drive
drive.mount('/content/drive')

# Assuming your CSV file is named 'employee_data.csv' and located in '/content/drive/MyDrive/Colab Notebooks/'
file_path = '/content/drive/MyDrive/Colab Notebooks/employee.csv'

# Load the CSV file into a pandas DataFrame
employee = pd.read_csv(file_path)

# 1️⃣ Print the first 5 rows
print("First 5 rows of the data:\n", employee.head())

# 2️⃣ Calculate mean salary by gender
mean_salary_by_gender = employee.groupby('gender')['salary'].mean()
print("\nMean salary by gender:\n", mean_salary_by_gender)

# 3️⃣ Calculate budget allocated to each department
department_budget = employee.groupby('department')['salary'].sum()
print("\nBudget allocated to each department:\n", department_budget)

employee.columns = employee.columns.str.lower()

print(employee.columns)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
First 5 rows of the data:
    id   name   age   gender department  salary
0    1   john    20    male         hr  500000
1    2   jane    23  female  marketing  600000
2    3   joey    23    male         it  300000
3    4  sarah    25  female         hr  450000
4    5   rose    28    male         hr  700000

Mean salary by gender:
 gender
female    2530000.0
male       575000.0
Name: salary, dtype: float64

Budget allocated to each department:
 department
finance       800000
hr           1650000
it           4900000
marketing    7600000
Name: salary, dtype: int64
Index(['id ', 'name ', 'age ', 'gender', 'department', 'salary'], dtype='object')

Activity 2
JSON data wrangling

In [ ]:
import json
import pandas as pd
from google.colab import drive

# Mount Google Drive (if needed)
drive.mount('/content/drive')

# Load the CSV file into a pandas DataFrame
file_path = '/content/drive/MyDrive/Colab Notebooks/employee.csv'  # Update with the correct file path
employee = pd.read_csv(file_path)

print("Full DataFrame in JSON format:")
print(json.dumps(employee.to_dict(orient='records'), indent=4))
try:
    employee_index_3 = employee.iloc[3].to_dict()
    print("\nData for the employee at index 3:")
    print(json.dumps(employee_index_3, indent=4))
except IndexError:
    print("\nThe DataFrame has fewer than 4 rows.")
try:
    employee_index_5 = employee.iloc[5].to_dict()

    # Extract specific fields with safe defaults
    name = employee_index_5.get('name', 'N/A')
    age = employee_index_5.get('age', 'N/A')
    gender = employee_index_5.get('gender', 'N/A')
    department = employee_index_5.get('department', 'N/A')
    salary = employee_index_5.get('salary', 'N/A')

    # Print in the required format
    print("\nDetails of the employee at index 5:")
    print(f"Name: {name}")
    print(f"Age: {age}")
    print(f"Gender: {gender}")
    print(f"Department: {department}")
    print(f"Salary: {salary}")
except IndexError:
    print("\nThe DataFrame has fewer than 6 rows.")

Mounted at /content/drive
Full DataFrame in JSON format:
[
    {
        "id ": 1,
        "name ": "john",
        "age ": 20,
        "gender": "male",
        "department": "hr",
        "salary": 500000
    },
    {
        "id ": 2,
        "name ": "jane",
        "age ": 23,
        "gender": "female",
        "department": "marketing",
        "salary": 600000
    },
    {
        "id ": 3,
        "name ": "joey",
        "age ": 23,
        "gender": "male",
        "department": "it",
        "salary": 300000
    },
    {
        "id ": 4,
        "name ": "sarah",
        "age ": 25,
        "gender": "female",
        "department": "hr",
        "salary": 450000
    },
    {
        "id ": 5,
        "name ": "rose",
        "age ": 28,
        "gender": "male",
        "department": "hr",
        "salary": 700000
    },
    {
        "id ": 6,
        "name ": "bing",
        "age ": 29,
        "gender": "male",
        "department": "finance",
        "salary": 800000
    },
    {
        "id ": 7,
        "name ": "rach",
        "age ": 41,
        "gender": "female",
        "department": "it",
        "salary": 600000
    },
    {
        "id ": 8,
        "name ": "monica",
        "age ": 23,
        "gender": "female",
        "department": "marketing",
        "salary": 7000000
    },
    {
        "id ": 9,
        "name ": "pheebe",
        "age ": 35,
        "gender": "female",
        "department": "it",
        "salary": 4000000
    }
]

Data for the employee at index 3:
{
    "id ": 4,
    "name ": "sarah",
    "age ": 25,
    "gender": "female",
    "department": "hr",
    "salary": 450000
}

Details of the employee at index 5:
Name: N/A
Age: N/A
Gender: male
Department: finance
Salary: 800000

In [ ]:
import xml.etree.ElementTree as ET
import os
from google.colab import drive

# Mount Google Drive
drive.mount('/content/drive')

file_path = os.path.join('/content/drive/My Drive/Colab Notebooks', 'author.xml')
# Parse the XML file
tree = ET.parse(file_path)  # Replace 'books.xml' with the actual file path
root = tree.getroot()

# Extract and print titles of books published before 1960
print("Books published before 1960:")
for book in root.findall('book'):
    year = int(book.find('year').text)  # Get the publication year
    if year < 1960:
        title = book.find('title').text  # Get the book title
        print(f"- {title}")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
Books published before 1960:
- The Catcher in the Rye
- 1984